@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: $code-background;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(127, 137, 174);
    background: linear-gradient(
      90deg,
      rgba(127, 137, 174, 1) 0%,
      rgba(138, 146, 175, 1) 4%,
      rgba(140, 147, 174, 1) 12%,
      rgba(147, 146, 176, 1) 17%,
      rgba(141, 143, 176, 1) 22%,
      rgba(131, 147, 175, 1) 36%,
      rgba(129, 133, 176, 1) 57%,
      rgba(132, 149, 175, 1) 73%,
      rgba(124, 150, 175, 1) 89%,
      rgba(136, 160, 169, 1) 100%
    );
    border-radius: 10px 10px 0 0;
    transition: 0.2s ease-in-out;

    &:hover {
      filter: brightness(1.4);
    }

    .type {
      margin: $spacing-s;
      margin-left: $spacing-l;
      font-size: $font-size-xsmall;
      font-weight: 600;
      color: $background;
      text-transform: uppercase;
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $spacing-s;
      margin-right: $spacing-l;
      border-radius: 50%;
      border-style: none;
      height: 20px;
      width: 20px;
      background-color: $background;
      transition: 0.3s;

      .icon {
        font-size: $font-size-large;
        color: #8693b0;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 20px 0;

    .title {
      display: inline-block;
      font-weight: bold;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 10px;

      .badge {
        margin-right: $spacing-s;
        margin-bottom: 8px;
        width: fit-content;
        border: 0.5px solid $purple;
        color: $color-light-gray;
        border-radius: 10px;
        padding: 2px 10px 2px 10px;
        font-size: 13px;
        transition: 0.3s;
      }
    }

    .json {
      margin-top: 20px;
      margin-bottom: 10px;
      display: inline-block;
      max-height: 500px;
      min-width: 60vw;
      font-size: 14px;
      overflow: scroll;
      height: 100%;
      width: 100%;
    }

    .json::-webkit-scrollbar-track {
      background-color: $code-background;
    }

    .json::-webkit-scrollbar-corner {
      background-color: $code-background;
    }
  }
}

.gridItemExtended {
  height: 550px;
}
