@import "styles/spacings";
@import 'styles/colors';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1690px;
  width: 100%;

  .firstRow {
    margin-bottom: $spacing-base;
    margin-top: $spacing-l * 3;

    * + * {
      margin-left: $spacing-l;
    }

    *:last-child {
      margin-left: $spacing-l * 0.25;
    }
  }

  .bigCard {
    margin-bottom: $spacing-l * 2;
    padding: $spacing-base * 3;

    & > div {
      display: flex;
      margin-bottom: $spacing-l;

      .label {
        min-width: 188px;
        display: inline-flex;
      }
    }
  }

  .script {
    margin-bottom: $spacing-l;
  }
}

.storageTable {
  .identifierColumn {
    flex: 2;
  }
  .dataColumn {
    flex: 5;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.hash {
  display: inline-block;
  overflow: hidden;
  max-width: 90vw;
  margin: $spacing-base;
}

.badges {
  color: $color-grey;
  font-family: $font-family-inter;
  margin-bottom: $spacing-base;
  margin-top: $spacing-base;
}

.keysRoot {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
