@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1690px;
  width: 100%;

  .currency {
    color: $strong-green;
    margin-left: $spacing-s;
  }

  .script {
    margin-bottom: $spacing-l;
  }
}

.storageTable {
  .identifierColumn {
    flex: 2;
  }
  .dataColumn {
    flex: 5;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.hash {
  display: inline-block;
  overflow: hidden;
  max-width: 90vw;
  margin: $spacing-base;
}

.badges {
  color: $color-grey;
  font-family: $font-family-inter;
  margin-bottom: $spacing-base;
  flex-wrap: wrap;
  & > * {
    margin-top: $spacing-base;
    margin-right: $spacing-base;
  }
}

.keysRoot {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

.gridExtendable {
  width: 100%;
  max-width: 100%;
  display: grid;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  .gridItemExtended {
    grid-column: 1 / span 4;
    height: 600px;
  }
}

@media all and (max-width: 1350px) {
  .gridExtendable {
    grid-template-columns: repeat(3, 1fr);

    .gridItemExtended {
      grid-column: 1 / span 3;
      height: 600px;
    }
  }
}

@media all and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridExtendable {
    grid-template-columns: repeat(2, 1fr);

    .gridItemExtended {
      grid-column: 1 / span 2;
      height: 600px;
    }
  }
}
