@import "styles/typography";
@import "styles/colors";
@import "styles/spacings";

.root {
  font-family: $font-family-courier-new;
  font-weight: lighter;
  margin-bottom: $spacing-l;
  padding-left: $spacing-l * 2;
  position: relative;

  > div {
    display: flex;
    align-items: center;
    margin-top: $spacing-l;

    * + * {
      margin-left: $spacing-l * 0.5;
    }

    .blueBg {
      background-color: $blue;
      margin-left: $spacing-l;
      padding: $spacing-l * 0.33;
      border-radius: 8px;
      color: $color-main-text;
      font-family: $font-family-inter;
      position: relative;
      max-width: 80%;
      min-width: 80%;

      .hash {
        display: inline-block;
        overflow: hidden;
        max-width: 100%;
        min-width: 100%;
      }
    }

    .keyIcon {
      transform: rotate(-135deg);
    }
  }
  .badges {
    color: $color-grey;
    font-family: $font-family-inter;
    padding-left: ($spacing-base * 2) + 6;
  }
}
