@import "styles/colors";
@import "styles/typography";

.root {
  color: $color-grey;
  font-family: $font-family-oswald;
  font-size: $font-size-small;

  &.medium {
    font-size: $font-size-normal;
  }

  &.large {
    font-size: $font-size-big;
  }

  &.xlarge {
    font-size: $font-size-xlarge;
    color: $light-grey;
  }
}
