@import "styles/typography";
@import "styles/colors";
@import "styles/rules";
@import "styles/spacings";

.root {
  display: flex;
  padding: $spacing-s $spacing-base;
  border-radius: $border-radius-card;
  align-items: center;
  height: 40px;

  .backButtonWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;

    .backButton {
      width: 20px;
      height: 16px;
    }

    transition: background 0.1s;

    &:hover {
      background: rgba(255, 255, 255, 0.12);
    }
  }

  .breadcrumbs {
    margin-left: $spacing-base - 2px;
    display: flex;
    align-items: center;

    .arrow {
      margin: 0 $spacing-base * 0.5;
    }

    * {
      font-family: $font-family-inter;
      font-size: $font-size-normal;
      color: $color-grey;
      text-decoration: none;
    }
  }
}
