@import 'styles/spacings';
@import 'styles/animations';
@import 'styles/colors';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;

  &.isNew {
    @include addNewContentAnimation(.4s);
  }

  .header {
    display: flex;
    align-items: center;
    color: $color-grey;

    &.expanded {
      border-bottom: 1px solid $color-logs-text;
      padding-bottom: $spacing-l * 2;
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-right: $spacing-l * 2;

      & > span:first-child {
        font-size: $font-size-small;
        text-transform: capitalize;
        flex: 1;
      }

      & > span:last-child {
        color: $color-link-blue;
        font-size: $font-size-normal;
        cursor: pointer;
      }
    }

    .icon {
      margin-left: auto;
    }
  }

  .content {
    max-height: 0;
    transition-property: max-height;
    transition: 100ms ease-in;
    opacity: 0;
    overflow: hidden;

    &.expanded {
      opacity: 1;
      margin-top: $spacing-l * 2;
      max-height: initial;
    }
  }
}
