@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/animations';

.dialog {
  min-width: 800px !important;
  max-width: 800px !important;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
  padding: $spacing-l * 3 $spacing-l * 6;
  @include fadeInAnimation(.5s);

  .icon {
    width: 70px;
  }

  .arguments {
    margin-top: $spacing-base * 3;
  }

  h3 {
    margin-top: $spacing-base * 2;
    margin-bottom: $spacing-base * 4;
    font-size: $font-size-xlarge;
    text-align: center;
  }

  .actions {
    margin-top: $spacing-base * 3;
    display: flex;
    align-items: center;

    & > * {
      flex: 1;
    }

    & > * + * {
      margin-left: $spacing-base * 3;
    }
  }
}
