@import 'styles/spacings';
@import 'styles/colors';

.pageRoot {
  height: 100%;
  display: flex;
  flex: 1;
  background: #1C2128;
  .leftSideMenu {
    background: #272B32;
    flex: 1;
    .content {
      margin: $spacing-base;
    }
  }
  .interactionsTabWrapper {
    overflow-x: scroll;
    .interactionTab {
      max-width: 200px;
      margin-right: $spacing-s;
      .label {
        text-align: left;
      }
    }
  }
  .mainContent {
    flex: 3;

    .body {
      height: 100%;
      display: flex;
      .content {
        flex: 2;
        flex-direction: column;
        overflow: hidden;
        .code {
          height: 60%;
          background: #272B32;
          padding-top: $spacing-base;
        }
        .details {
          height: 40%;
          background: #272B32;
          .error {
            padding: $spacing-base;
          }
        }
      }
    }

  }
}
