@import 'styles/spacings';

.pageRoot {
  display: flex;
  flex: 1;
  .leftSideMenu {
    flex: 1;
  }
  .mainContent {
    flex: 3;
    display: flex;
    flex-direction: column;

    .editorSection {
      flex: 3;
    }
    .detailsSection {
      flex: 1;
    }
  }
  .rightSideBar {
    flex: 1;
  }
}
