@import 'styles/spacings';
@import 'styles/colors';

.pageRoot {
  display: flex;
  flex: 1;
  background: #1C2128;
  .leftSideMenu {
    background: #272B32;
    flex: 1;
  }
  .interactionTab {
    max-width: 200px;
    margin-right: $spacing-s;
    .label {
      text-align: left;
    }
  }
  .mainContent {
    flex: 3;

    .body {
      height: 100%;
      display: flex;
      .content {
        flex: 2;
        display: flex;
        flex-direction: column;
        .code {
          flex: 3;
          background: #272B32;
          padding-top: $spacing-base;
        }
        .details {
          flex: 1;
          background: #272B32;
          .error {
            padding: $spacing-base;
          }
        }
      }
    }

  }
}
