@import 'styles/spacings';
@import 'styles/colors';
@import 'styles/typography';

.root {
  height: 100%;
  display: flex;
  .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: $spacing-l * 2;
    .code {
      flex: 3;
    }
    .details {
      flex: 1;
    }
  }
  .sidebar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: $spacing-base;
    height: 100%;

    .bottom {
      display: flex;
      .button {
        flex: 1;
        width: 100%;
        padding: $spacing-base;
        background: $blue;
        color: $new-color-1;
        font-weight: bold;
        font-size: $font-size-large;
        border-radius: 5px;
        margin-bottom: 30px;
      }
    }
  }
}
