@import 'styles/colors';
@import 'styles/spacings';

.navigationContainer {
  background-color: $grey;
  padding: $spacing-base;
  ul {
    display: flex;
    list-style-type: none;
    li {
      text-decoration: none;
      color: $black;
      margin-right: $spacing-base;
    }
  }
}

.navLink {
  &.active {
    font-weight: bold;
    color: $black;
  }
}
