@import 'styles/spacings';
@import 'styles/animations';

.card {
  display: flex;
  justify-content: space-between;
  padding: $spacing-base $spacing-l;
  margin-bottom: $spacing-base;

  & > div {
    display: flex;
    flex-direction: column;
  }

  .hash {
    max-width: 20vw;
    min-width: 20vw;
    display: inline-block;
    overflow: hidden;
  }
}

.noResults {
  margin-top: $spacing-l * 6;
}

.hash {
  max-width: 13vw;
  min-width: 10vw;
  display: inline-block;
  overflow: hidden;
}
