@import 'styles/rules';
@import 'styles/colors';
@import 'styles/typography';
@import 'styles/spacings';

.root {
  border: 1px solid $color-input-border;
  border-radius: $border-radius-input;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;

  &:focus-within {
    border-color: $yellow;
  }

  & > select {
    flex: 1;
    border: none;
    background: none;
    padding: 9px $spacing-base * 2;
    outline: none;
    color: $color-grey;
    font-size: $font-size-small;
    -webkit-appearance: none;
    appearance: none;
  }

  &::after {
    content: "▼";
    font-size: $font-size-xsmall;
    top: 6px;
    right: 10px;
    position: absolute;
  }
}
