@import 'styles/spacings';
@import 'styles/colors';
@import 'styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: $spacing-l * 2;
    font-size: $font-size-large;
  }

  p {
    margin-top: $spacing-l;
    color: $color-not-active-button-text-grey;
  }
}
