$color-additional-info-grey: #272f3e;
$color-table-black: #272e3e;
$color-navigation-drawer-background: #1a253b;
$color-not-active-button-grey: #606060;
$color-not-active-button-text-grey: #8d8d8d;
$color-main-text: #191919;
$color-grey: #ABB4B8;
$color-light-gray: #F7FAFC;
$color-table-light: #424D61;
$color-red: #D02525;
$color-input-border: #707070;

$color-logs-border: #3188ca;

/* TODO(milestone-x): Remove at some point */
$dark-grey: #a2a2a2;
$black: #353535;
$color-mid-grey: #444b58;

// new colors
$purple: #cfc5f8;
$yellow: #ffdd62;
$blue: #9bdefa;
$dark-violet: #3b3e5b;
$background: #202a40;
$background-highlight-1: #333c51;
$background-highlight-2: #232d43;
$light-grey: #E5E5E5;
$light-green: #A2CD8C;

// Se uporabi za besedilo, ki je na dark violet podlagi (navigacijska vrstica, 1st row in table)
$grey: #c7cad0;

$hover-background: #41465b;
$code-background: #273045;
$table-line-background: #363f53;

// Se uporabi na details tabu
$dark-blue: #273148;

// se uporabi na popupih in ba details page za selected box
$pop-up: #2c354a;

// se uporabi za navigation drawer background (breadcrumbs)
$medium-violet: #282e46;
