/* --additional-info-grey: #272F3E; */
$color-additional-info-grey: #272F3E;
$color-table-blue: #202A40;
$color-table-black: #272E3E;
$color-navigation-drawer-background: #1A253B;
$color-not-active-button-grey: #606060;
$color-not-active-button-text-grey: #8D8D8D;
$color-counter-badge-blue: #B4DEFF;
$color-logs-text: #BAB8B8;
$color-background: #141C2D;
$color-main-text: #191919;
$color-link-blue: #88C4F2;
/*--main-yellow-color: #FFC016;*/
$color-main-yellow: #FFC016;
/*--unnamed-color-ffffff: #FFFFFF;*/
$color-white: #FFFFFF;
/*--unnamed-color-abb4b8: #ABB4B8;*/
$color-grey: #ABB4B8;
/*--unnamed-color-f7fafc: #F7FAFC;*/
$color-light-gray: #F7FAFC;
$color-table-light: #424D61;
$color-status-unknown: #BF2673;
$color-status-pending: #DBAA26;
$color-status-finalized: #E37A2C;
$color-status-executed: #9D3CC7;
$color-status-sealed: #26BFA6;
$color-status-expired: #D02525;

$color-logs-border: #3188CA;

/* TODO: Remove at some point */
$dark-blue: #141c2d;
$dark-grey: #a2a2a2;
$grey: #ccc;
$light-grey: #eaeaea;
$black: #353535;
