$font-family-oswald: 'Oswald';
$font-family-oswald-light: 'Oswald', sans-serif;
$font-family-courier-new: 'Courier New';
$font-family-days-one: 'Days One';
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-big: 20px;
$font-size-xlarge: 22px;
$font-size-h2: 34px;

$character-spacing-small: 0.2px;
$character-spacing-medium: 0.8px;
$character-spacing-large: 0.14px;
$character-spacing-big: 0.64px;

$line-spacing-xs: 18px;
$line-spacing-s: 21px;
$line-spacing-m: 24px;
$line-spacing-l: 30px;

$letter-spacing-m: 2.8px;
