$font-family-oswald: 'Oswald';
$font-family-courier-new: 'Courier New';
$font-family-days-one: 'Days One';
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big: 20px;

//$font-style-normal: normal;
//$font-weight-normal: normal;
//$font-weight-medium: medium;
//$font-weight-bold: medium;

$character-spacing-small: 0.2px;
$character-spacing-medium: 0.8px;
$character-spacing-large: 0.14px;
$character-spacing-big: 0.64px;

$line-spacing-xs: 18px;
$line-spacing-s: 21px;
$line-spacing-m: 24px;
$line-spacing-l: 30px;

/*
--unnamed-font-family-oswald: Oswald;
--unnamed-font-family-courier-new: Courier New;

--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-20: 20px;

--unnamed-character-spacing-0-14: 0.14px;
--unnamed-character-spacing-0-64: 0.64px;
--unnamed-character-spacing-0-2: 0.2px;
--unnamed-line-spacing-18: 18px;
--unnamed-line-spacing-21: 21px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-30: 30px;
 */
