@import "styles/spacings";
@import "styles/colors";

$side-nav-width: 80px;

.root {
  display: flex;

  .sideNavigation {
    width: $side-nav-width;
  }

  .mainContent {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    width: calc(100vw - $side-nav-width);
    max-height: 100vh;
    overflow-y: scroll;

    .breadcrumbs {
      position: sticky;
      top: 0;
      z-index: 10;
      background: $gray-110;
    }

    .body {
      color: $gray-10;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .bodyWithMargin {
      margin: $spacing-l;
    }

    .logs {
      position: sticky;
      bottom: 0;
    }
  }

}
