@import "../../styles/colors";
@import "../../styles/spacings";
@import "../../styles/typography";
@import "../../styles/animations";
@import "../../styles/rules";

.container {
  display: flex;
  flex-direction: row;
  color: $gray-10;

  .sidebar {
    width: 30%;
    height: 100vh;
    max-width: 450px;
    min-width: 300px;
    background-color: transparentize($gray-100, 0.5);

    display: flex;
    flex-direction: column;

    .sideBarHeader {
      box-sizing: border-box;
      height: 191px;
      width: 100%;
      padding: 38px 53px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .logoWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
          max-width: 150px;
          width: 100%;
        }
      }
    }

    .sideBarBody {
      flex: 1;
      list-style-type: none;

      .tabWrapper {
        .tabLink {
          .indicator {
            height: 40px;
            width: 8px;
            border-radius: 10px;
            margin-right: $spacing-l;
          }
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $gray-10;
          font-size: $font-size-large;
          width: 100%;
          padding: $spacing-s $spacing-l;
          box-sizing: border-box;
          position: relative;

          .yellowLine {
            display: none;
            position: absolute;
            left: 20px;
            top: 50%;
            height: calc(100% - 11px);
            width: auto;
            transform: translateY(-50%);
          }
        }

        &.activeTab {
          .indicator {
            background: $violet-50;
          }
          a {
            background-color: transparentize($gray-50, 0.8);
          }
        }
      }
    }

    .sideBarFooter {
      box-sizing: border-box;
      height: 152px;
      width: 100%;
      padding: 0 20px;
      margin-bottom: $spacing-xl;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: stretch;

      > * {
        img {
          width: 10px;
          height: 10px;
          padding-right: 8px;
        }

        padding: 0 14px;
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 12px;
        border-radius: 6px;
        box-sizing: border-box;
      }

      .newProjectButton {
        background-color: $violet-100;
        color: $white;
        svg path {
          fill: white;
        }
        border: none;
        width: 100%;
      }
    }
  }

  .projectList {
    flex: 1;

    .projectListBody {
      list-style-type: none;
      padding: $spacing-l;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      .projectItem {
        padding: $spacing-l * 1.5 $spacing-l;
        padding-right: $spacing-xl;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;

        .projectName {
          font-size: 17px;
          line-height: 26px;
          color: $gray-10;

          &:hover {
            cursor: pointer;
          }
        }
        .projectLastOpened {
          @media (max-width: 1029px) {
            display: none;
          }
          font-size: 13px;
          line-height: 26px;
          color: $grey;
        }

        .projectTrashcan {
          display: none;
          position: absolute;
          justify-content: center;
          align-items: center;
          height: 100%;
          top: 0;
          right: 21px;

          > * {
            height: 13px;
            width: auto;
          }

          &:hover {
            cursor: pointer;
          }
        }

        &:hover {
          background: transparentize($gray-50, 0.5);

          .projectTrashcan {
            display: flex;
          }
        }
      }
    }
  }

  .bodyCenter {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      text-align: center;
      line-height: 26px;
      font-weight: 300;
      font-size: 16px;
    }
  }
}
