@import "../../../styles/colors";
@import "../../../styles/spacings";

.root {
  background: $gray-10;
  opacity: 0.2;
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: $spacing-l 0;
}

.vertical {
  height: 100%;
  width: 1px;
  margin: 0 $spacing-l;
}
