@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/animations';

.root {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;

  @include fadeInAnimation(.1s);

  .header {
    background-color: $color-table-black;
    color: $color-grey;
    display: flex;
    justify-content: space-around;

    > div {
      flex: 1;
    }

    > div:first-child {
      color: $color-white;
      font-weight: bold;
      padding-left: $spacing-l * 3;
    }
  }

  .row {
    background-color: $color-table-light;
    margin-top: $spacing-s;
    color: $color-white;
    display: flex;
    justify-content: space-around;

    > div {
      flex: 1;
    }

    > div:first-child {
      padding-left: $spacing-l * 3;
    }

    .ellipsis {
      max-width: 10vw;
      min-width: 10vw;
      display: inline-block;
      overflow: hidden;
    }
  }
}
