@import 'styles/colors';

.search {
  border: 1px solid $dark-grey;
  display: flex;
  max-height: 30px;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;

  & > input {
    flex: 10;
    border: none;
    margin: 10px;
  }

  img {
    flex: 1;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
