@import 'styles/colors';
@import 'styles/typography';
@import 'styles/spacings';
@import 'styles/animations';

.root {
  display: flex;
  align-items: center;
  @include fadeInAnimation(0.3s);

  border: 1px solid $color-logs-border;
  background: transparent;
  border-radius: 20px;
  padding: 0 $spacing-base + 5px;
  max-height: 37px;

  .cancelIcon {
    cursor: pointer;
  }

  &:focus-within {
    border: 1px solid $color-main-yellow;
  }

  & > input {
    flex: 10;
    border: none;
    margin: 10px;
    margin-left: 0;
    background: none;
    outline: none;
    color: $color-white;
    font-size: $font-size-small;
    padding-left: 0;
    text-transform: uppercase;
  }
}
