@import 'styles/spacings';
@import 'styles/colors';
@import 'styles/typography';
@import 'styles/animations';

.root {
  @include fadeInAnimation(2s);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-l;

  .innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: $font-size-large;
      color: $gray-10;
    }

    .description {
      margin-top: $spacing-l;
      color: $gray-30;
    }
  }
}
