@import 'styles/spacings';
@import 'styles/colors';
@import 'styles/typography';

.sidebar {
  background-color: $background !important;
  color: $grey;
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-large;

  .menu {
    display: flex;
    flex-direction: column;
    padding: $spacing-base;
    margin-top: $line-spacing-l;
    margin-left: $line-spacing-m;

    .menuItem {
      display: flex;
      padding: $spacing-base;
      align-items: center;
     
      .text {
        transition: 0.3s;
        margin-left: $spacing-base;
        color: $light-grey;
      }
      

      .icon {
        height: 45px;
        width: 45px;
      }
     
    }
    .menuItem:hover {
      .text {
        color: $grey
      }
    }
  }
}