@import "../../styles/typography";
@import "../../styles/spacings";
@import "../../styles/colors";

.root {
  display: flex;
  column-gap: $spacing-xl;
  position: relative;

  .interactLink {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: $spacing-s;

    svg * {
      fill: $blue;
    }
  }

  .left {
    flex: 1;
    max-width: 400px;

    .argumentsWrapper {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-base * 2;
    }
  }

  .right {
    flex: 3;
    overflow: scroll;
  }
}
