@import "styles/colors";
@import "styles/typography";

.root {
  display: inline-block;

  a {
    text-decoration: none;
    color: $color-link-blue !important;
  }

  &.medium {
    font-size: $font-size-large;
  }

  &.large {
    font-size: $font-size-big;

    a {
      font-size: $font-size-big;
    }
  }
}
