@import 'styles/spacings';
@import 'styles/animations';

.card {
  display: flex;
  justify-content: space-between;
  padding: $spacing-base $spacing-l;
  margin-bottom: $spacing-base;

  & > div {
    display: flex;
    flex: 4;
    flex-direction: column;
  }
  & > div:not(:first-child) {
    flex: 3;
  }

  & > div:last-child {
    flex: 1;
  }

  &.isNew {
    @include addNewContentAnimation(.4s);
  }
}
.noResults {
  margin-top: $spacing-l * 6;
}
