@import 'styles/spacings';

.container {
  margin-bottom: $spacing-l * 2;
  padding: $spacing-base * 3;
}

.header {
  display: flex;
  margin-bottom: $spacing-base;
  & > * {
    margin-right: $spacing-l;
    & > *:first-child {
      margin-right: $spacing-s;
    }
  }
}

.body {
  & > * {
    margin-bottom: $spacing-base;
    & > *:first-child {
      display: inline-block;
      width: 150px;
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.footer {
  display: flex;
  margin-top: $spacing-xl;
  & > * {
    margin-right: $spacing-l;
    & > *:first-child {
      margin-right: $spacing-s;
    }
  }
}
