@import "styles/spacings";
@import "styles/animations";

.root {

  .content {
    display: flex;
    column-gap: $spacing-xl;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .column {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-l;

      & > div {
        display: flex;

        .label {
          margin-right: $spacing-base;
          width: 100px;
          overflow-x: hidden;
          white-space: nowrap;
        }

        .value {
          font-weight: bold;
        }
      }
    }
  }
}
