@import "styles/colors";

.szh-menu {
  color: $gray-10;
  background: $gray-80;
  box-shadow: 2px 2px 4px 0 transparentize(black, 0.5);

  &__item {
    &--hover {
      background: transparentize($gray-50, 0.5);
    }
  }
}
