@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/animations';

.root {
  display: flex;
  flex-direction: column;
  color: $light-grey;
  padding: $spacing-l * 3 $spacing-l * 6;
  @include fadeInAnimation(.5s);


  h3 {
    margin-bottom: $spacing-base * 3;
    font-size: $font-size-xlarge;
    text-align: center;
  }

  span {
    font-size: $font-size-normal;
    text-align: center;
  }

  a {
    color: $blue;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: $spacing-base * 3;

    & > * {
      flex: 1;
    }

    & > * + * {
      margin-left: $spacing-base * 3;
    }
  }
}
