@import 'styles/typography';
@import 'styles/colors';
@import 'styles/rules';
@import 'styles/spacings';

pre.code {
  color: #f8f8f2;
  background: $dark-blue !important;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: $font-size-normal;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-all;
  word-wrap: normal;
  line-height: 1.5;

  border-radius: $border-radius-input;
  padding: $spacing-base;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
