@import 'styles/colors';
@import 'styles/spacings';

.container {
  padding: $base-spacing;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .topContainer {
  }
  .bottomContainer {
    text-align: center;

    .buttonsContainer {
      margin-top: $base-spacing;
    }
  }
}
