@import "../../../styles/spacings";
@import "../../../styles/animations";
@import "../../../styles/colors";

.root {
  height: 100%;

  .message {
    padding: $spacing-l;
  }

  .headerRow {
    margin-bottom: $spacing-base;
    padding-bottom: $spacing-base;
    padding-top: $spacing-base;
    background: transparentize($violet-100, 0.5) !important;
  }

  .tableRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-s;
    padding-bottom: $spacing-base * 0.8;
    padding-top: $spacing-base * 0.8;
    background: transparentize($gray-80, 0.2);
    column-gap: $spacing-base;

    & > div {
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
    }
  }

}
