@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";
@import "styles/animations";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  height: 196px;
  overflow: hidden;
  position: relative;

  &.introAnimation {
    @include addNewContentAnimation(.4s);
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }

  .content {
    z-index: 1;
    margin-left: 19px;
    margin-top: 40px;

    .identifier {
      font-size: $font-size-large;
      color: $gray-10;
      margin-bottom: 6px;
    }

    .link {
      display: flex;
      flex-direction: row;
      color: $purple;
      align-items: center;

      .linkText {
        margin-left: 6px;
        display: inline-block;
        overflow: hidden;
        max-width: 30vw;
      }
    }
    .link:hover {
      color: #d0bdf8;
    }

    .bottomText {
      margin-top: 6px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-normal;
      white-space: nowrap;
      max-width: 100%;
    }
  }
}
