@import '../../../styles/spacings';
@import '../../../styles/typography';
@import '../../../styles/animations';
@import '../../../styles/colors';

.container {
  @include fadeInAnimation(0.4s);
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .logo {
    @include pulse(1s);
  }
  .text {
    margin-top: $spacing-l;
    font-size: $font-size-xlarge;
    color: $gray-10
  }
}
