@import "../../../../styles/colors";
@import "../../../../styles/rules";
@import "../../../../styles/spacings";

.closeButton {
  cursor: pointer;
  position: absolute;
  top: $spacing-base;
  right: $spacing-base;
}
