@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: flex;
  align-items: center;

  .statusLabel {
    margin-left: $spacing-base;
    color: $grey;
    font-size: $font-size-small;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
