@mixin scaleOnHover($scaleFactor: 1.05) {
  transition: 0.2s ease-in-out all;
  &:hover {
    transform: scale($scaleFactor);
  }
}

@mixin whitenOnHover() {
  &,
  * {
    transition: 0.1s ease-in-out color;
  }
  &:hover {
    &,
    * {
      color: white;
      fill: white;
    }
  }
}

@mixin fadeInAnimation($time) {
  -webkit-animation: fadeIn #{$time}; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn #{$time}; /* Firefox < 16 */
  -ms-animation: fadeIn #{$time}; /* Internet Explorer */
  -o-animation: fadeIn #{$time}; /* Opera < 12.1 */
  animation: fadeIn #{$time};

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin addNewContentAnimation($time) {
  -webkit-animation: new-content-animation #{$time}; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: new-content-animation #{$time}; /* Firefox < 16 */
  -ms-animation: new-content-animation #{$time}; /* Internet Explorer */
  -o-animation: new-content-animation #{$time}; /* Opera < 12.1 */
  animation: new-content-animation #{$time};

  @keyframes new-content-animation {
    from {
      opacity: 0;
      background-color: #496f8d;
      color: #496f8d;
      font-size: 98%; // Using lower percentage will break ellipsis on hashes :/
    }

    50% {
      opacity: 0.5;
      background-color: #496f8d;
    }
  }
}

@mixin flipVertical($time, $deg: 180deg) {
  -webkit-transition:
    -webkit-transform #{$time} ease-in-out,
    fill #{$time} ease,
    stroke #{$time} ease;
  -ms-transition:
    -ms-transform #{$time} ease-in-out,
    fill #{$time} ease,
    stroke #{$time} ease;
  transition:
    transform #{$time} ease-in-out,
    fill #{$time} ease,
    stroke #{$time} ease;

  transform: rotateX(#{$deg});
  -ms-transform: rotateX(#{$deg});
  -webkit-transform: rotateX(#{$deg});
}

@mixin pulse($time) {
  transform: scale(1);
  animation: pulse #{$time} infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }
}
