$font-size-xxsmall: 8px;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-big: 18px;
$font-size-xlarge: 20px;
$font-size-h2: 32px;

$character-spacing-small: 0.2px;
$character-spacing-medium: 0.8px;
$character-spacing-large: 0.14px;
$character-spacing-big: 0.64px;

$line-spacing-xs: 18px;
$line-spacing-s: 21px;
$line-spacing-m: 24px;
$line-spacing-l: 30px;

$letter-spacing-m: 2.8px;
