@import '../../styles/spacings';
@import '../../styles/animations';

.card {
  display: flex;
  justify-content: space-between;


  & > div {
    display: flex;
    flex-direction: column;
  }

  .hash {
    max-width: 20vw;
    min-width: 20vw;
    display: inline-block;
    overflow: hidden;
  }
}

.hash {
  max-width: 21vw;
  min-width: 10vw;
  display: inline-block;
}

.tableRow {

  .blockHeight {
    flex: 0.8;
  }

  .blockID {
    flex: 1.3;
  }

  .blockSeals {
    flex: 0.8
  }

  .signatures {
    flex: 0.8
  }

  .snapshot {
    flex: 1.2
  }

  .time {
    flex: 0.8
  }

}
