@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1690px;
  width: 100%;

  .header {
    display: flex;
    .detailsCard {
      flex: 3;
    }
    .actionCard {
      position: relative;
      flex: 2;
      display: flex;
      align-items: center;
      padding: $spacing-l $spacing-xl;
      margin-left: $spacing-base;
      .avatarWrapper {
        display: flex;
        margin-right: $spacing-l * 1.5;
      }
      .actionsWrapper, .avatarWrapper {
        z-index: 1;
      }
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.25;
      }
    }
  }

  .currency {
    color: $strong-green;
    margin-left: $spacing-s;
  }

  .script {
    margin-bottom: $spacing-l;
  }
}

.storageTable {
  .identifierColumn {
    flex: 2;
  }
  .dataColumn {
    flex: 5;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.hash {
  display: inline-block;

  max-width: 90vw;
  margin: $spacing-base;
}

.badges {
  color: $color-grey;
  font-family: $font-family-inter;
  margin-bottom: $spacing-base;
  flex-wrap: wrap;
  & > * {
    margin-top: $spacing-base;
    margin-right: $spacing-base;
  }
}

.keysRoot {
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}


