@import "styles/spacings";
@import "styles/colors";
@import "styles/rules";

.root {
  border-radius: $border-radius-button;
  border: 1px solid $gray-30;
  padding: $spacing-l;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-s;
  .link {
    display: flex;
    column-gap: $spacing-s;
    align-items: center;
    .icon * {
      fill: $blue
    }
  }
}
