@import 'styles/spacings';

.root {
  position: relative;

  .before, .after, .afterEnd {
    display: flex;
    align-items: center;
  }

  .before svg {
    margin-right: $spacing-base;
  }

  .after svg {
    margin-left: $spacing-base;
  }

  .afterEnd svg {
    position: absolute;
    right: $spacing-l;
    top: 40%;
  }

}
