@import 'styles/colors';
@import 'styles/spacings';

.container {
  display: flex;
  align-items: flex-end;
  margin: $spacing-base;
  padding: $spacing-base;
  background-color: $light-grey;
  justify-content: flex-end;

}
