@import "../../../styles/spacings";
@import "../../../styles/colors";

.root {
  max-height: 40vh;
  height: 100%;

  .emptyState {
    padding: $spacing-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $gray-20;
  }

  .transactionOverview {
    height: 100%;
    padding: 0;
  }

  .errorWrapper {
    height: 100%;
  }
}
