@import "styles/spacings";

.root {
  display: flex;
  flex-direction: column;

  .codeWrapper {
    position: relative;

    .actionButtons {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      padding: $spacing-base;
      display: flex;
      column-gap: $spacing-base;
    }
  }
}
