@import 'styles/spacings';
@import 'styles/colors';
@import 'styles/typography';

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-base $spacing-l;
  margin-bottom: $spacing-base;

  & > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  & > div:first-child,
  & > div:nth-child(2) {
    flex: 2;
  }

  .hash {
    max-width: 20vw;
    min-width: 20vw;
    display: inline-block;
    overflow: hidden;
  }
}
