@import "styles/colors";
@import "styles/spacings";
@import "styles/typography";
@import "styles/animations";

.textFieldRoot, .toggleFieldRoot {
  display: flex;
  margin: $spacing-l 0;
  .label, .input, .description {
    display: flex;
    align-items: center;
  }
  .label {
    flex: 1.2;
    color: $gray-10;
  }
  .input {
    flex: 1;
    margin: 0 $spacing-xl;
  }
  .description {
    flex: 2;
    color: $gray-10;
    font-size: $font-size-small;
  }
  .errorMessage {
    color: lighten($color-red, 10%) !important;
    font-size: $font-size-small !important;
    font-weight: 400 !important;
    @include pulse(1.5s);
  }
}

.toggleFieldRoot {
  .input {
    .toggleButton {
      margin: 0 $spacing-base;
    }
    span {
      color: $gray-10;
    }
  }
}

.radioFieldRoot {
  .header {
    display: flex;
    margin-bottom: $spacing-base;
    .title, .description {
      color: $gray-10;
    }
  }
  .body {
    .radioItem {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing-s;
      span {
        color: $gray-10;
        font-size: $font-size-small;
      }
    }
  }
}
