@import 'styles/animations';
@import 'styles/colors';

.root {

  @include flipVertical(.2s, 0deg);
  fill: $color-link-blue;
  stroke: $color-link-blue;

  &.isOpen {
    @include flipVertical(.2s);
    fill: $color-main-yellow;
    stroke: $color-main-yellow;
  }
}
