@import 'styles/animations';
@import 'styles/colors';

.root {
  fill: $color-main-yellow;
  stroke: $color-main-yellow;
  @include flipVertical(.2s, 0deg);

  &.isOpen {
    @include flipVertical(.2s);
    fill: $color-link-blue;
    stroke: $color-link-blue;
  }
}
