@import 'styles/spacings';
@import 'styles/colors';

.root {
  width: 100%;

  .arguments {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .argument {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-base * 1.4;

    & > div:first-child {
      margin-right: $spacing-base;
    }

    & > div:not(:last-child) {
      flex: 1;
    }

    & > div:last-child {
      flex: 0.1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        padding: 0;
      }
    }
  }

  .removeButton {
    background: none !important;
    border: none !important;
  }

  .addButton {
    padding: 0;
    width: 100%;
    background: $color-link-blue;
    border-color: $color-link-blue;
    margin-top: $spacing-s;
    span {
      display: flex;
      justify-content: center;
    }
    svg * {
      fill: $color-background;
    }
  }
}
