@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/animations';

.dialog {
  min-width: 800px !important;
  max-width: 800px !important;
}

.toast {
  .transactionId {
    max-width: 20vw;
    display: inline-block;
    overflow: hidden;
  }
  a {
    color: $background;
    font-weight: bolder;
    vertical-align: middle;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-grey;
  padding: $spacing-l * 3 $spacing-l * 6;
  @include fadeInAnimation(.5s);

  .icon {
    width: 70px;
  }

  .arguments {
    margin-top: $spacing-base * 3;
  }

  h3 {
    margin-top: $spacing-base * 2;
    margin-bottom: $spacing-base * 4;
    font-size: $font-size-xlarge;
    text-align: center;
  }

  .errorButton {
    cursor: pointer;
    background: none;
    border: none;
    color: $color-red;
    font-size: $font-size-large;
    margin-bottom: $spacing-base;
    &:hover {
      opacity: 0.7;
    }
  }

  .actions {
    margin-top: $spacing-base * 3;
    display: flex;
    align-items: center;

    & > * {
      flex: 1;
    }

    & > * + * {
      margin-left: $spacing-base * 3;
    }
  }
}
