@import 'styles/colors';
@import 'styles/rules';
@import 'styles/typography';

.button {
  background-color: $color-main-yellow;
  border-radius: $border-radius;
  color: $color-background;
  font-size: $font-size-big;
  font-family: $font-family-oswald;
  letter-spacing: $character-spacing-medium;
  font-style: normal;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.92;
  }
}

/* TODO: */
.normal {
  background: green;
  height: 32px;
  padding: 0 18px;
  font-size: $font-size-xsmall !important;
}

.disabled {
  background: $color-not-active-button-grey;
  color: $color-not-active-button-text-grey;
  cursor: default;
  font-size: $font-size-normal;

  &:hover {
    opacity: 1;
  }
}

//  TODO: Maybe define in global style
.big {
  width: 216px;
  height: 65px;
}
