@import "styles/colors";
@import "styles/typography";

.root {
  * {

    color: $color-white;
    font-family: $font-family-oswald;
    font-size: $font-size-normal;
  }

  a {
    text-decoration: none;
    color: $color-link-blue;
  }
}
