@import 'styles/spacings';
@import 'styles/colors';

$grid-gap: 30px;

.layoutContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;

  .subNavigation {
    margin: $grid-gap $spacing-l 0;
    height: 100px;
  }

  .content {
    margin: $grid-gap $spacing-l 0;
    /* Visual effect: log component will overlap bottom part of content */
    padding-bottom: 100px;
    color: $color-white;
    align-items: stretch;

  }

  .logs {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;

    &.opened {
      top: 50%;
    }

    &.expanded {
      top: 118px;
    }
  }
}
