@import 'styles/spacings';

.layoutContainer {
  display: grid;
  grid-template-columns: [first] $spacing-l [ first-end content] auto [last] $spacing-l [last];
  grid-template-rows: [navigation] 118px [subnavigation] 100px [content] auto [logs] 63px [last];
  row-gap: 30px;
  min-height: 100vh;

  .navigation {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .subNavigation {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .content {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    // TODO: Remove
    border: 1px solid yellow;
  }

  .logs {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: logs;
    grid-row-end: last;
    // TODO: Remove
    border: 1px solid yellow;
  }
}
