@import 'styles/spacings';
@import 'styles/colors';


.layoutContainer {
  display: grid;
  grid-template-columns: [first] $spacing-l [ first-end content] auto [last] $spacing-l [last];
  grid-template-rows: [navigation] 118px [subnavigation] 100px [content] auto [logs] 63px [last];
  row-gap: 30px;
  min-height: 100vh;

  .navigation {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .subNavigation {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .content {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    color: $color-white;
  }

  .logs {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: logs;
    grid-row-end: last;
    border-top: 1px solid $color-logs-border;
  }

  &.contentSmall {
    grid-template-rows: [navigation] 118px [subnavigation] 100px [content] auto [logs] 30% [last];
  }

  &.noContent {
    border: 1px solid pink;
    grid-template-rows: [navigation] 118px [logs] auto [last];
    row-gap: 0;
    .subNavigation,
    .content {
      display: none;
    }
  }
}
