@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';

.root {
  padding: 0 $spacing-l * 2;
  border-top: 1px solid $color-logs-border;
  background-color: $color-background;

  .header {
    display: flex;
    height: 63px;
    color: $color-link-blue;
    align-items: center;

    span span {
      margin-left: 5px;
      margin-top: 5px;
      position: absolute;
    }

    & > div {
      display: flex;
      margin-left: auto;
      align-items: center;

      & > div {
        margin-left: 20px;
      }

    }

    .control {
      cursor: pointer;
    }

    .control + .control {
      margin-left: $spacing-l;
    }

    .searchBox {
      width: 451px;
    }
  }
}
