@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/colors';

.root {
  display: flex;
  flex-direction: column;
  .navigation {
    display: flex;
    .tabButton {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #272B32;
      background: unset;
      border: none;
      padding: $spacing-base;
      cursor: pointer;
      color: $color-light-gray;
      .labelInput {
        background: none;
        border: none;
        font-size: $font-size-normal;
        color: #E5E5E5;
        font-family: $font-family-inter;
        font-weight: bold;
      }
      .closeButton {
        margin-left: $spacing-s;
        border-radius: 50%;
        padding: 1px;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .tabButtonActive {
      background: #272B32;
    }
    .tabButtonInactive {
      background: #33383e !important;
      color: rgba(229, 229, 229, 0.56) !important;
    }
  }
  .body {
    height: 100%;
  }
}
