@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/colors';
@import 'styles/scrollbars';

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .tabWrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    @include hiddenScrollbars();
    .label {
      font-size: $font-size-normal;
      font-weight: bold;
      color: $color-grey;
      margin: 0 $spacing-l;
    }
    .tabButton {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray-100;
      background: unset;
      border: none;
      padding: $spacing-base;
      cursor: pointer;
      color: $color-light-gray;
      .label {
        background: none;
        border: none;
        font-size: $font-size-normal;
        color: #E5E5E5;
        font-family: $font-family-inter;
        font-weight: bold;
        width: 100%;
      }
      .closeButton {
        margin-left: $spacing-s;
        border-radius: 50%;
        padding: 1px;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .tabButtonActive {
      background: #272B32;
    }
    .tabButtonInactive {
      background: #33383e !important;
      color: rgba(229, 229, 229, 0.56) !important;
    }
    .newTabButton {
      width: 20px;
      height: 20px;
      border: none;
      background: $gray-100;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 $spacing-base;
      cursor: pointer;
      transition: 0.3s ease-in-out all;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .body {
    height: 100%;
  }
}
