@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: grid;
  height: 58vh;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  .card {
    height: 100%;
    border: 0.5px solid #70707048;
    border-radius: 0px;

    .content {
      display: flex;
      flex-direction: column;
      margin: $spacing-xl;
      margin-top: $spacing-xl * 1.5;

      .title {
        display: flex;
        font-size: $font-size-h2;
        font-weight: 600;

        .counter {
          margin-left: $spacing-l;
          margin-top: 2px;
          background-color: #5c6474;
          border-radius: 9px;
          font-size: $font-size-xsmall;
          padding: 0px 12px 0px 12px;
        }
      }

      .items {
        margin-top: $spacing-xl;

        .bar {
          list-style: none;

          li {
            position: relative;
            color: #d2d1f6;
            display: flex;
            margin-top: 30px;
          }

          li:before {
            content: "\25CF";
            margin-right: 15px;
            font-size: 30px;
          }

          li:after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            border-left: 3px solid #d2d1f6;
            margin-left: 8px;
            min-height: 10vh;
            max-height: 13vh;
          }
          @media screen and (max-width: 1700px) {
            li:after {
              min-height: 15vh;
            }
          }
          @media screen and (max-width: 1200px) {
            li:after {
              min-height: 16vh;
            }
          }
          @media screen and (max-width: 900px) {
            li:after {
              min-height: 30vh;
            }
          }

          li:first-of-type:after {
            top: 20%;
          }

          li:last-of-type:after {
            top: -50%;
          }
        }

        .item {
          display: flex;
          color:white;
          margin-top: 30px;
          
          svg {
            fill: white;
            margin-right: $spacing-base;
            margin-top: 4px;
          }
        }
      }

      .footer {
        margin-top: $spacing-xl * 1.5;
        font-weight: bold;
        color: $blue;
      }
    }
  }
}
