@import "../../../styles/colors";
@import "../../../styles/spacings";
@import "../../../styles/typography";
@import "../../../styles/animations";
@import "../../../styles/scrollbars";
@import "../../../styles/rules";

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
    background: $gray-100;
    position: sticky;
    top: 0;
    padding-bottom: $spacing-base;
    // Question mark icon is displayed above the header for some reason.
    z-index: 1;

    .badgeFilters {
      display: flex;
      flex-direction: row;
      column-gap: $spacing-s;
      .badge {
        cursor: pointer;
        display: flex;
        height: 20px;
        align-items: center;
        border-color: $gray-30;
        color: $gray-30;
        text-transform: capitalize;
      }
      .selectedBadge {
        border-color: $gray-50;
        background: $gray-50;
        color: white;
      }
    }
  }

  .storedTemplates {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
    overflow-y: scroll;
    @include styledScrollbars();

    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-normal;
      color: $gray-20;
      @include whitenOnHover();
    }
  }

  .focusedTemplate {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
    position: sticky;
    padding-top: $spacing-base;
    background: $gray-100;
    bottom: 0;
  }

  .workspaceInfo {
    border-radius: $border-radius-input;
    background: $gray-80;
    padding: $spacing-base;
    display: flex;
    column-gap: $spacing-base;

    .actionButtons {
      display: flex;
      column-gap: $spacing-base;
    }
  }
}

