@import "styles/colors";
@import "styles/spacings";
@import "styles/typography";

.root {
  padding: $spacing-l;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .storedTemplates {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
    .item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: $font-size-normal;

      .trash {
        transition: 0.2s ease-in-out all;
        &:hover {
          transform: scale(1.1);
        }
        * {
          fill: $gray-50;
        }
      }
    }
  }

  .focusedTemplate {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
  }
}
