@import "styles/colors";
@import "styles/spacings";
@import "styles/typography";
@import "styles/animations";
@import "styles/scrollbars";

.root {
  padding: $spacing-l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .storedTemplates {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
    height: 500px;
    overflow-y: scroll;
    @include styledScrollbars();
    .item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: $font-size-normal;
      color: $gray-20;
      @include whitenOnHover();

      .trash {
        @include scaleOnHover();
        * {
          fill: $gray-50;
        }
      }
    }
    .focusedItem {
      color: $blue;
      .trash {
        * {
          fill: $blue !important;
        }
      }
    }
  }

  .focusedTemplate {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-base;
  }
}
