@import "styles/spacings";

.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1690px;
  width: 100%;

  .transactionListItem {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-base;
  }
}

.hash {
  max-width: 15vw;
  min-width: 10vw;
  display: inline-block;
  overflow: hidden;
}
