@import 'styles/colors';

.root {
  z-index: 1001;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(20, 28, 45, .9);
  justify-content: center;
  align-items: center;


  .dialog {
    width: 600px;
    max-width: 90vw;
    min-height: 100px;

    .card {
    }

  }
}
