@import 'styles/colors';
@import 'styles/rules';
@import 'styles/spacings';
@import 'styles/animations';

.root {
  border-radius: $border-radius-card;
  padding: $spacing-l;
  border: 1px solid transparent;
  position: relative;

  &.introAnimation {
    @include addNewContentAnimation(.4s);
  }

}
