@import 'styles/colors';
@import 'styles/rules';
@import 'styles/spacings';
@import 'styles/animations';

.root {
  border-radius: $border-radius-card;
  padding: $spacing-l;
  border: 1px solid transparent;
  position: relative;

  &.introAnimation {
    @include addNewContentAnimation(.4s);
  }

  .loading {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-table-blue;
    align-items: center;
    justify-content: center;
    color: $color-white;
    opacity: 0.8;
  }

  &.blue {
    background-color: $color-table-blue;
  }

  &.black {
    background-color: $color-table-black;
  }

  &.active {
    border: 1px solid $color-main-yellow;
  }
}
