@import "styles/spacings";
@import "styles/colors";
@import "styles/typography";

.root {
  display: flex;
  flex-direction: column;
  align-self: center;

  .header {
    display: flex;
    .detailsCard {
      flex: 3;
    }
  }

  .flowCurrency {
    color: $strong-green;
    margin-left: $spacing-s;
  }

}
