@import "styles/spacings";
@import "styles/colors";

.tab {
  max-width: 120px;
  padding: $spacing-s !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeTab {
  background: $gray-100 !important;
}

.tabLabel {
  text-align: center;
}

.tabWrapper {
  overflow-x: scroll;
}

.tabWrapper, .inactiveTab {
  background: $gray-110;
}

.content {
  padding: $spacing-l;
  background: $gray-100;
}
