@import "styles/spacings";
@import "styles/colors";
@import "styles/scrollbars";
@import 'styles/rules';

$avatar-size: 30px;

.root {
  width: 100%;
  background: $gray-80;
  border-radius: $border-radius-input;

  @include hiddenScrollbars();

  .innerWrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: $spacing-base;
    row-gap: $spacing-base;
    padding: $spacing-base;

    .selectAccountButton {
      background: none;
      outline: none;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      &:not(:disabled) {
        cursor: pointer;
      }
      .accountName {
        color: $gray-10;
        margin-top: $spacing-s;
      }
      .selectedAccount {
        border-color: $blue !important;
      }
      .avatarWrapper {
        &__enabled {
          &:hover {
            border-color: $blue;
          }
        }
        height: $avatar-size;
        width: $avatar-size;
        padding: $spacing-s;
        border-radius: 50%;
        border: 2px solid transparent;
        .avatar {
          width: 100%;
          height: 100%;
        }
      }
    }
    .newAccountButton {
      .spinner {
        border-left-color: $blue;
      }
      .avatarWrapper {
        &:hover {
          border-color: transparent !important;
        }
        .plusIconWrapper {
          background: white;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 50%;
            height: 50%;
            * {
              fill: $blue;
            }
          }
        }
      }
    }
  }
}
