@import "styles/colors";
@import "styles/typography";
@import "styles/spacings";
@import "styles/animations";

.root {
  display: flex;
  align-items: center;
  @include fadeInAnimation(0.3s);

  border: #4f5768 1px solid;
  background: transparent;
  border-radius: 9px;
  padding-left: $spacing-l;
  padding-right: $spacing-l;

  &:hover {
    cursor: text;
  }

  .searchIcon {
    margin-right: $spacing-base;
    width: 17px;
    height: 17px;

    path {
      fill: $blue;
    }
  }
  .cancelIcon {
    &:hover {
      cursor: pointer;
    }
  }

  &:focus-within {
    border: 1px solid $blue;
  }

  & > input {
    flex: 10;
    border: none;
    margin: $spacing-base + 5px;
    margin-left: 0;
    background: none;
    outline: none;
    color: $light-grey;
    font-size: $font-size-small;
    padding-left: 0;

    &::placeholder {
      color: #ffffffba;
    }
  }

  &.disabled {
    border: 1px solid $color-not-active-button-text-grey;
    opacity: 0.5;
  }

  &.responsive:not(:focus-within) {
    @media (max-width: 1290px) {
      border: none !important;
      border: #4f5768 1px solid;
      padding: 0;

      & > input {
        max-width: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
