/* Main editor container */
.cadence-editor {
    width: 100%;
    background: #272B32;
}

.cadence-editor .cm-editor {
    background: none;
}

.cm-focused {
    outline: none !important;
}

/* Line number container */
.cadence-editor .cm-gutters {
    /* Default background color */
    background: #272B32;
}
