/* Main editor container */
.cadence-editor {
    width: 100%;
}

.cadence-editor .cm-editor {
    background: none;
    border: 2px solid #202a40;
    border-radius: 6px;
}

.cm-focused {
    outline: none !important;
}

/* Line number container */
.cadence-editor .cm-gutters {
    /* Default background color */
    background: #202a40;
}
