@import "styles/typography";
@import "styles/colors";
@import "styles/spacings";

.root {
  display: flex;
  align-items: center;

  & span {
    margin: 0 $spacing-base * 0.5;
  }

  * {
    font-family: $font-family-inter;
    font-size: $font-size-small;
    color: $color-grey;
    text-decoration: none;
  }
}
