@import "styles/colors";
@import "styles/spacings";
@import "styles/typography";
@import "styles/rules";

.navigationContainer {
  display: flex;
  flex-direction: column;
  margin: 0 $spacing-l;

  .mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $table-line-background;
    height: 65px;
    box-sizing: border-box;
    border-bottom-right-radius: $border-radius-card;
    border-bottom-left-radius: $border-radius-card;
    overflow: hidden;

    .logoContainer {
      img {
        width: 60px;
        height: 60px;
      }

      margin-right: $spacing-base * 3;
    }

    .navLinksContainer {
      display: flex;
      margin-right: $spacing-base * 3;
    }

    .rightContainer {
      display: flex;
      margin-left: auto;
      align-items: center;
      gap: 10px;
      height: 100%;

      padding: 11px $spacing-l 14px 0;

      > * {
        box-sizing: border-box;
        height: calc(100% - 25px);
      }

      .searchBox {
        width: 362px;

        @media (max-width: 1290px) {
          width: min-content;
        }
      }

      .userButton {
        width: 35px;
        height: 35px;
      }

      .snapshotButton {
        @media (max-width: 970px) {
          display: none;
        }
        background: #ffffff1d;
        border: $blue 1px solid;
        color: $blue;
      }

      .sidebarButton {
        background: none;
        border: none;
        padding: 0 0 0 15px;

        .emulatorWorking {
          padding-right: 4px;
        }

        .sidebarOpen {
          padding-left: 6px;
        }
      }

      @media (max-width: 1290px) {
        &:focus-within {
          .snapshotButton,
          .sidebarButton {
            display: none;
          }

          @media (min-width: 1000px) {
            .searchBox {
              width: 362px !important;

              @media (max-width: 1125px) {
                width: 250px !important;
              }
            }
          }
        }
      }
    }
  }

  .navigationDrawerContainer {
    background-color: $color-navigation-drawer-background;
    display: flex;
    height: 50px;
    margin-top: 8px;
    padding: 0 $spacing-base - 2px;
    border-radius: $border-radius-card;
    align-items: center;
    background: $medium-violet;
  }
}

.settingsIcon {
  fill: $background;
  width: 18px;
  height: 18px;
}

.txButton {
  background: $blue !important;
  border-color: $blue !important;
}

.flowIcon {
  height: 26px;
  width: 26px;
  margin-right: $spacing-s * 0.5 !important;
  [class="flowPrimary"],
  .flowPrimary {
    fill: transparent;
  }
}

.breadcrumbs {
  margin-left: $spacing-base - 2px;
}

.backButtonWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;

  .backButton {
    width: 20px;
    height: 16px;
  }

  transition: background 0.1s;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }
}

.searchBar {
  align-self: center;
  margin-left: auto;
  width: 531px;
}
