@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';

.navigationContainer {
  display: flex;
  flex-direction: column;

  .mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 $spacing-l;
    background-color: $table-line-background;
    height: 118px;

    .logoContainer {
      img {
        width: 60px;
        height: 60px;
      }

      margin-right: $spacing-base * 3;
    }

    .navLinksContainer {
      margin-top: -18px;
      display: flex;
      margin-right: $spacing-base * 3;

      & > div:not(:last-child) {
        margin-right: $spacing-base * 2.5;
      }
    }

    .rightContainer {
      display: flex;
      margin-left: auto;

      & > div:nth-child(1) {
        flex-direction: column;
      }

      & > div:nth-child(2) {
        flex-direction: row;
      }

      & > div:nth-child(1), & > div:nth-child(2) {
        display: flex;
        padding-right: $spacing-base * 2;
        margin-right: $spacing-base * 2;
        border-right: 1px solid $light-grey;
      }

      & > div:first-child {
        span {
          font-size: $font-size-small;
          height: 18px;
          line-height: 18px;
        }

        span:first-child {
          color: $light-grey;
        }

        span:last-child {
          color: $yellow;
          font-weight: bold;
        }

      }

      & > div {
        display: flex;
        align-items: center;

        button + button {
          margin-left: $spacing-base;
        }
      }
    }
  }

  .navigationDrawerContainer {
    background-color: $color-navigation-drawer-background;
    display: flex;
    height: 72px;
    padding-right: $spacing-base * 2;
  }
}

.settingsIcon {
  fill: $background;
  width: 18px;
  height: 18px;
}

.loginButton {
  .flowIcon {
    [class=flowWhite],
    .flowWhite {
      fill: $background;
    }
  }
}

.logoutButton {
  background: transparent !important;
  border-color: $blue !important;
  color: $blue !important;
  .flowIcon {
    [class=flowWhite],
    .flowWhite {
      fill: $blue;
    }
  }
}

.txButton {
  background: $blue !important;
  border-color: $blue !important;
}

.flowIcon {
  height: 26px;
  width: 26px;
  margin-right: $spacing-s * 0.5 !important;
  [class=flowPrimary],
  .flowPrimary {
    fill: transparent;
  }
}

.breadcrumbs {
  margin-left: $spacing-base * 3;
}

.backButton {
  cursor: pointer;
}

.searchBar {
  align-self: center;
  margin-left: auto;
  width: 531px;
}
