@import 'styles/colors';
@import 'styles/typography';
@import 'styles/spacings';

.root {
  .navLink {
    display: flex;
    color: $color-white;
    font-size: $font-size-big;
    text-decoration: none;
    align-items: center;

    & .iconWrapper {
      text-align: center;
      margin-bottom: 6px;

      & > svg {
        fill: $color-white;
      }
    }

    &:hover {
      opacity: 0.9;
    }

    & > div:first-child::after {
      content: "";
      position: relative;
      display: block;
      top: 16px;
      left: calc(50% - 27.5%);
      width: 55%;
      height: 3px;
    }

    &.active {
      color: $color-main-yellow;

      .iconWrapper {
        svg {
          fill: $color-main-yellow;
        }
      }

      & > div:first-child::after {
        background-color: $color-main-yellow;
      }
    }

    & > div:first-child {
      margin-right: $spacing-base;
    }

    & > div:last-child {
      margin-top: 30px;
      background-color: $color-counter-badge-blue;
      font-size: $font-size-xxsmall;
      line-height: calc(#{$font-size-xxsmall} + 4px);
      color: $color-main-text;
      border-radius: 8px;
      height: 15px;
      width: 28px;
      vertical-align: center;
      text-align: center;
      font-weight: bold;
    }
  }
}

