@import "styles/colors";
@import "styles/typography";
@import "styles/spacings";

.root {
  .navLink {
    display: flex;
    color: $light-grey;
    font-size: 15px;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    line-height: 19px;
    padding: 11px 45px 14px 45px;

    &:hover {
      opacity: 0.9;
    }

    &.active {
      color: $yellow;
      background: #4e516b;
    }

    & > div:first-child {
      margin-right: $spacing-base;
    }

    .counters {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px;

      > * {
        font-size: $font-size-xxsmall;
        line-height: calc(#{$font-size-xxsmall} + 2px);
        color: $color-main-text;
        border-radius: 8px;
        text-align: center;
        font-weight: 400;
        padding: 1px 5px;
      }
      .totalCounter {
        background-color: $grey;
      }

      .unreadCounter {
        background-color: $blue;
      }
    }

    &.active {
      .totalCounter {
        background-color: $yellow;
      }
    }
  }
}
