@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/animations';
@import 'styles/rules';

.emulatorDialog {
  pre {
    margin-top: $spacing-base;
  }
}

.loaderWrapper {
  height: 100vh;
}

.container {
  background: $dark-blue;
  padding: $spacing-base;
  color: $black;
  display: flex;
  height: 100vh;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  img {
    width: 108px;
    margin-bottom: 50px;
  }

  .header {
    text-align: center;
    margin-bottom: $spacing-l * 3;

    h1 {
      color: $light-grey;
      opacity: 0.74;
      font-family: $font-family-days-one;
      font-size: 35px;
      font-weight: normal;
      letter-spacing: 1.4px;
      margin-bottom: $spacing-s;
    }

    .version {
      color: $color-mid-grey;
    }

    .betaWarning {
      margin-top: $spacing-s;
      color: $yellow;
      max-width: 400px;
    }
  }

  button {
    margin-bottom: $spacing-base;
    width: 368px;
    height: 66px;
  }

  .caret {
    transform: rotate(-90deg);
  }

  .noEmulators,
  .loading {
    margin-top: $spacing-base;
    color: $color-grey;
    font-weight: 100;
  }
  .loading {
    @include pulse(1.8s);
  }
}

.newProjectBtn {
  color: $color-grey;
  border: 2px solid $color-grey;
}

h2 {
  margin-top: $spacing-l * 2;
  font-size: $font-size-small;
  color: $color-grey;
}

@keyframes logoPulse {
  0% {
    transform: scale(1) rotate(0deg);
  }

  30% {
    transform: scale(1.2) rotate(15deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
