@import 'styles/colors';
@import 'styles/spacings';
@import 'styles/typography';
@import 'styles/animations';
@import 'styles/rules';

.container {
  display:flex;
  flex-direction: row;
  color: $light-grey;

  aside {
    width:512px;
    height:100vh;
    background-color: $background-highlight-2;

    display:flex;
    flex-direction: column;
    
    .sideBarHeader {
      box-sizing: border-box;
      height: 191px;
      width:100%;
      padding:38px 53px;

      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      span {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 70px;
          width: auto;
        }
      }
    }

    .sideBarBody {
      flex:1;
      list-style-type:none;

      li {
        width: 100%;
        padding: 12px 53px;
        box-sizing: border-box;
        position: relative;

        .yellowLine {
          display: none;
          position: absolute;
          left:20px;
          top:50%;
          height: calc(100% - 11px);
          width:auto;
          transform: translateY(-50%);
        }

        &.activeTab {
          .yellowLine {
            display: block;
          }
          background-color: $background-highlight-1;
        }
      }
    }

    .sideBarFooter {
      box-sizing: border-box;
      height:152px;
      width:100%;
      padding:0 20px;
      
      display:flex;
      flex-direction: column;
      align-items: stretch;
      
      > * {
        img {
          width:10px;
          height:10px;
          padding-right:8px;
        }
        
        display:flex;
        flex-direction: row;
        align-items: center;
        
        padding:14px;
        margin-bottom: 12px;
        border-radius: 6px;
      }

      .openProjectButton {
        background-color: $background-highlight-1;
        color: $grey;
      }

      .newProjectButton {
        background-color: $yellow;
        color:#2A3348;
      }
    }
  }

  .projectList {
    flex: 1;
    .projectListHeader {
      box-sizing: border-box;
      height:162px;
      width:100%;
      padding: 23px 20px;

      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      .projectSearch {
        width: 400px;
        height: 49px;
        border: #4f5768 1px solid;
        border-radius: 6px;
      }
    }

    .projectListBody {
      list-style-type:none;
      padding-left:23px;

      display:flex;
      flex-direction: column;
      align-items: stretch;

      
      li {
        padding: 32px 125px 28px 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position:relative;
        
        .projectName {
          font-size: 17px;
          line-height: 26px;
          color:#CDD9FA;
        }
        .projectLastOpened {
          font-size: 13px;
          line-height: 26px;
          color:$grey;
        }

        .projectTrashcan {
          display:none;
          position:absolute;
          justify-content: center;
          align-items: center;
          height:100%;
          top:0;
          right:21px;

          > * {
            height: 13px;
            width:auto;
          }
        }

        &:hover {
          background: $background-highlight-1;

          .projectTrashcan {
            display: flex;
          }
        }
      }
    }
  }
}