@import "styles/spacings";

.loadingRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-xl;
}

.root {
  margin: $spacing-base;
}

.blockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $spacing-base;
  .info {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    &:hover {
      transform: scale(1.1);
    }
  }
  .actions {
    .checkout {
      cursor: pointer;
    }
  }
}
