@import "../../../styles/spacings";
@import "../../../styles/colors";

.paramListRoot {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-base * 2;
}

.paramRoot {
  .label {
    .identifier {
      margin-right: $spacing-s;
    }
    .type {
      color: $gray-10;
    }
  }
  .description {
    color: $gray-20;
  }
  .valueBuilder {
    margin-top: $spacing-base;
  }
}
